asgiref==3.5.0
channels==3.0.5
coverage==6.4.4
Django==4.0.2
django-allauth==0.48.0
django-crispy-forms==1.14.0
django-on-heroku==1.1.2
gunicorn==20.1.0
idna==3.3
json5==0.9.6
oauthlib==3.2.0
Pillow==8.4.0
pip==21.2.4
pycodestyle==2.8.0
pycparser==2.21
PyJWT==2.3.0
python-dotenv==0.20.0
python-slugify==6.0.1
python3-openid==3.2.0
requests==2.27.1
requests-oauthlib==1.3.1
sqlparse==0.4.2
scikit_learn==1.1.2
SQLAlchemy==1.4.22
tables==3.6.1
text-unidecode==1.3
toml==0.10.2
urllib3==1.26.8
whitenoise==6.2.0
