<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}Virtual grandparent</title>
        <link rel="icon"href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block static %}
        {% endblock %}
    </head>

    <body class="base-background">
        <nav class="flex items-center justify-between px-4 py-6 navbar-background">
            <div>
                <a href="/" class="text-xl text-white">Virtual grandparent</a>
            </div>
            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                    {% if request.user.isHelper %}
                    <a href="{% url 'core:allHelpRequests' %}" class="px-5 py-3 transparent-button" style="width:">Help requests</a>
                    <a href="{% url 'core:myOffers' %}" class="px-5 py-3 transparent-button">My offers</a>
                    {% else %}
                    <a href="{% url 'chat:contacts' %}" class="px-5 py-3 transparent-button">Contacts</a>
                    <a href="{% url 'core:helpRequests' %}" class="px-5 py-3 transparent-button ">My requests</a>
                    {% endif %}
                    <a href="{% url 'authentication:logout' %}" class="px-5 py-3 rounded-xl base-button">Log out</a>
                {% else %}
                    <a href="{% url 'authentication:login' %}" class="text-white hover:text-gray-300">Login</a>
                    <a href="{% url 'authentication:signup' %}" class="px-5 py-3 rounded-xl base-button">Sign up</a>
                {% endif %}
            </div>
        </nav>


        <div class="container-background">
            <img src="{% static 'images/background.jpg' %}" class="img-fluid stretch" alt="Two persons">
        </div> 

        {% block content %}
        {% endblock %}

        <script src="https://cdn.tailwindcss.com"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>