<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}Virtual Grandparent</title>
        <link rel="icon"href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block static %}
        {% endblock %}
    </head>

    <body class="base-background">
        <nav class="flex items-center justify-between p-4 navbar-background">
            <div>
                {% if request.user.is_authenticated %}
                    {% if request.user.isHelper %}
                        <a href="{% url 'core:helperMenu' %}" class="text-xl text-white">Virtual Grandparent</a>
                    {% else %}
                        <a href="{% url 'core:menu' %}" class="text-xl text-white">Virtual Grandparent</a>
                    {% endif %}
                {% else %}
                    <a href="/" class="text-xl text-white">Virtual Grandparent</a>
                {% endif %}
            </div>
            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                    {% if request.user.isHelper %}
                    <a href="{% url 'chat:contacts' %}" class="px-5 py-3 transparent-button">Contacts</a>
                    <a href="{% url 'core:myOffers' %}" class="px-5 py-3 transparent-button">My offers</a>
                    {% else %}
                    <a href="{% url 'chat:contacts' %}" class="px-5 py-3 transparent-button">Contacts</a>
                    <a href="{% url 'core:helpRequests' %}" class="px-5 py-3 transparent-button ">My requests</a>
                    {% endif %}
                    <a href="{% url 'authentication:logout' %}" class="px-5 py-3 rounded-xl base-button">Log out</a>
                {% else %}
                    <a href="{% url 'authentication:login' %}" class="text-white hover:text-gray-300">Login</a>
                    <a href="{% url 'authentication:signup' %}" class="px-5 py-3 rounded-xl base-button">Sign up</a>
                {% endif %}
                <div class="right_wrap">
                    <div class="right1">
                        <a class="text-white inc" style="font-size: 1.25rem;">
                            <i class="fa fa-arrow-up ">A</i>
                        </a>
                    </div>
                    <div class="right2">
                        <a class="text-white dec" style="font-size: 0.75rem;">
                            <i class="fa fa-arrow-down ">A</i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-background">
            <img src="{% static 'images/background.jpg' %}" class="img-fluid stretch" alt="Two persons">
        </div> 

        {% block content %}
        {% endblock %}

        <script src="https://cdn.tailwindcss.com"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>