{% extends 'core/base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/flexbox.css' %}">
{% endblock %}

{% block title %}Welcome | {% endblock %}


{% block content %}
<div class="card-container p-10">
    <div class="col-md-6 single-card lg:w-2/3 p-8 mx-auto">
        <div class="row px-8 mx-auto">
            <div class="column column-title selected">
                <a href="{% url 'core:editHelpRequest' id %}">Edit Help Request</a>
            </div>
            <div class="column column-title">
                <a href="{% url 'core:helpRequests' %}">Help Requests</a>
            </div>
        </div> 
        <form method="post" action="{% url 'core:editHelpRequest' id %}" class="px-8 mx-auto"  enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
            <fieldset class="mb-5">
                <label class="text-gray"  for="{{ field.name }}">{{ field.field.widget.attrs.placeholder }}:</label>
                {{field}}
                {% if field.errors %}
                    <div class="mt-1 px-4 py-2 rounded-xl bg-red-300 text-white">
                        <p class="error-message">{{ field.errors.0 }}</p>
                    </div>
                {% endif %}
                <span></span>
            </fieldset>
            {% endfor %}
            <div class="button-container">
                <a href="{% url 'core:deleteHelpRequest' id %}" class="px-5 py-3 rounded-xl coral-button button-50 mr-1">
                    <i class="fa fa-trash fa-space" aria-hidden="true"></i>Delete request
                </a>
                <a href="{% url 'chat:contacts' %}" class="px-5 py-3 rounded-xl base-button large-button button-50">
                    <i class="fa fa-edit fa-space" aria-hidden="true"></i>Edit request
                </a>
            </div>
            <br />
        </form>
    </div>
</div>
{% endblock %}