{% extends 'core/base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/container.css' %}">
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}

{% block title %}Welcome | {% endblock %}


{% block content %}  

<div class="p-4 menu-container">
    <div class="container mt-4" >
        <div class="container-card">
            <img src="{% static 'images/icon-contact.webp' %}" class="card-image" alt="Contacts icon">

            <p class="card-title">Your contacts</p>
            <p>Click here to see your contacts and chats.</p>
            
            <br />
            <a href="{% url 'chat:contacts' %}" class="px-5 py-3 rounded-xl base-button large-button">Contacts</a>
        </div>
        <div class="container-card">
            <img src="{% static 'images/icon-help.png' %}" class="card-image" alt="Helper icon">

            <p class="card-title">See all Help requests</p>
            <p>Click here to see all the help requests available and offer your help.</p>
            
            <br />
            <a href="{% url 'core:allHelpRequests' %}" class="px-5 py-3 rounded-xl base-button large-button">All help requests</a>
        </div>
    </div>
</div>
{% endblock %}