{% extends 'core/base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/flexbox.css' %}">
{% endblock %}

{% block title %}Welcome | {% endblock %}


{% block content %}
<div class="pl-10 pr-10 card-container ">
    {% if not help_requests %}
        <div class="card mb-10">You don't have any help request yet.</div>
    {% endif %}
    <br />
    <a href="{% url 'core:createHelpRequest' %}" class="px-5 py-3 rounded-xl orange-button">Create a Help Request</a>
</div>
<div class="pl-10 pr-10 grid-container inline-container">
    
    {% for help in help_requests %}
        <div class="card" id="flexbox_container">
            {% with 'images/helpCategories/'|add:help.category|add:'.png' as image_static %}
            <img class="flex_item" src="{% static image_static %}" alt="{{help.get_category_display}} icon">
            {% endwith %}
            <div class="flex_item item_selected">
                <p class="card-title">{{ help.title }}</p>
                <p>{{ help.get_category_display }}</p>
                <p>{{ help.description }}</p>
                <p>{{help.helper}}</p>
            
            <br />
            <a href="{% url 'chat:contacts' %}" class="px-5 py-3 rounded-xl base-button large-button">Send a message to {{help.helper.name}}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}