{% extends 'core/base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}

{% block title %}Welcome | {% endblock %}


{% block content %}
<div class="p-10 lg:p-20 ">
    <p class="align-text">“One person caring about another represents life’s greatest value.” – Jim Rohn</p>
</div>
<div class="grid-container pl-10 pr-10">
    <div class="col-md-6 card">
        <img src="{% static 'images/icon-help.png' %}" class="card-image" alt="Helper icon">

        <p class="card-title">Join as a volunteer</p>
        <p>Are you looking to befriend an elder person? Join to the volunteer community to start helping.</p>
        
        <br />
        <a href="{% url 'authentication:signup' %}" class="px-5 py-3 rounded-xl base-button large-button">Sign up</a>
    </div>

    <div class="col-md-6 card card-left">
        <img src="{% static 'images/icon-old.png' %}" class="card-image" alt="Old person icon">

        <p class="card-title">Ask for help</p>
        <p>Join as an elder person and share your experience and needs to connect with someone else.</p>
        <p>You can specify a motive like Phone calls/chatting, Technology help, Social activities and more on.</p>
        
        <br />
        <a href="{% url 'authentication:signup' %}" class="px-5 py-3 rounded-xl base-button large-button">Sign up</a>
    </div>
</div>

<!-- <p>“One person caring about another represents life’s greatest value.” – Jim Rohn</p>
<p>The simple act of caring is heroic. – Edward Albert</p>
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl">Virtual grandparent</h1>

</div> -->
{% endblock %}