{% extends 'core/base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/flexbox.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}


{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script type="text/javascript" src="{% static 'js/buttonsHandler.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttonNotification.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tableHandler.js' %}"></script>
{% endblock %}

{% block title %}Welcome | {% endblock %}


{% block content %}
<div class="p-4 grid-container inline-container">

    <div class="card single-card help_container px-8">
        <div class="flexbox_container">
            <div class="column column-title">
                <a href="{% url 'core:allHelpRequests' %}">Help Request list</a>
            </div>
            <div class="column column-title selected">
                <a href="{% url 'core:myOffers' %}">My Help Offers</a>
            </div>
        </div>
    {% if not help_requests %}
        <p class="mb-8">You don't have any help offer yet. 
            <a href="{% url 'core:allHelpRequests' %}" class="link-text">Click here to see all help requests</a>
        </p>
    {% else %}
        <table class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th scope="col" width="25%"></th>
                <th scope="col" width="45%"></th>
                <th scope="col" width="30%"></th>
            </tr>
            </thead>
            <tbody id="requestTable">
                {% for help in help_requests %}
                <tr>
                    <td class="vertically-centered" style="text-align: center;">
                        {% with 'images/helpCategories/'|add:help.category|add:'.png' as image_static %}
                            <img class="table_icon" src="{% static image_static %}" alt="{{help.get_category_display}} icon">
                        {% endwith %}
                        <p>{{ help.get_category_display }}</p>
                    </td>
                    <td class="vertically-centered">
                        <p class="blue_title" style="text-align: center;">{{ help.oldPersonName }}</p>
                        <p class="flex_title">Description:</p>
                        <p>{{ help.description }}</p>
                        <p class="flex_title">My offer:</p>
                        <p>{{ help.offerDescription }}</p>
                        <p class="flex_title">Status:</p>
                        <p>{{ help.status }}</p>
                        <br />
                    </td>
                    <td class="vertically-centered">
                        {% if help.status == "Accepted" %}
                        <a href="{% url 'chat:contacts' %}" class="px-5 py-3 rounded-xl base-button large-button">
                            <i class="fa fa-envelope fa-space" aria-hidden="true"></i>Send a message
                        </a>
                        {% else %}
                        <a href="{% url 'core:editHelpOffer' help.id %}" class="px-5 py-3 rounded-xl base-button gray-button large-button">
                            <i class="fa fa-edit fa-space" aria-hidden="true"></i>Edit offer
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
</div>
{% endblock %}