:root {
    --blue: #3d5a80;
    --light-blue: #98c1d9 ;
    --baby-blue: #e0fbfc;
    --orange: #ee6c4d;
    --dark-blue: #293241;
    --gray: #333333;
}
.title{
    color: var(--dark-blue);
    font-size: 2.5rem;
    margin-bottom: 1rem 0;
}
.navbar-background {
    background-color: var(--blue);
}
.base-button{
    background-color: var(--light-blue)  !important;
    color: white;
    width: 100%;
    text-align: center;
}
.transparent-button{
    color: white;
    width: 100%;
    text-align: center;
}
.coral-button{
    background-color: lightcoral  !important;
}
.gray-button{
    background-color: lightgray  !important;
}
.green-button{
    background-color: lightseagreen  !important;
}
.large-button{
    text-align: center;
    display: block
}
.base-button:hover, .transparent-button:hover{
    opacity: 0.7;
}
.base-background{
    background-color: var(white);
}
    
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-background {
    text-align: center;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}
.stretch {
    width:100%;
    height:100%;
}
.align-text{
    text-align: center;
}
.link-text{
    color: var(--blue);
    opacity: 0.8;
    text-decoration: underline;
}
.link-text:hover{
    opacity: 0.5;
}
.column {
    float: left;
    width: 50%;
}
.column-title{
    text-align: center;
    color: gray;
    font-size: 1.7rem;
    padding: .3rem;
    border-bottom: 5px solid var(--light-blue);
    margin-bottom: 1rem;
}
.column-selected:hover{
    opacity: 0.5;
}
.selected{
    color: white;
    background: var(--light-blue);
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.blue-checkbox{
    accent-color: var(--blue);
    color: red;
}
.text-gray{
    color: gray
}
.background-white{
    background: white;
}
.fa-space{
    margin-right: 5px;
}
.input-span{
    float: left;
    margin-top: -28px;
    position: relative;
    z-index: 1;
    color: gray;
    left: 1rem;
    color: var(--blue);
}
.white-text{
    color: white;
}
.disabled{
    color: gray;
    accent-color: transparent;
}
.blue_title{
    color:var(--blue);
    font-weight: 600;
}