{% extends 'core/base.html' %}
{% load static %}

{% block title %}Chats | {% endblock %}


{% block content %}
<div style="display:none;" id="chat_id">{{ chat.id }}</div>
<div style="display:none;" id="chat_slug">{{ chat.slug }}</div>
<div class="p-10 lg:p-12 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Chat with {{chat.receiver_user.name}}</h1>

</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">
        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">Username</p>
            <p>The message Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque debitis sunt hic voluptates ab eveniet perspiciatis quo assumenda fugit reiciendis, aperiam alias sit rem nesciunt repudiandae quos nihil nostrum. Voluptatibus.</p>
        </div>
        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">Username</p>
            <p>The message Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque debitis sunt hic voluptates ab eveniet perspiciatis quo assumenda fugit reiciendis, aperiam alias sit rem nesciunt repudiandae quos nihil nostrum. Voluptatibus.</p>
        </div>
        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">Username</p>
            <p>The message Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque debitis sunt hic voluptates ab eveniet perspiciatis quo assumenda fugit reiciendis, aperiam alias sit rem nesciunt repudiandae quos nihil nostrum. Voluptatibus.</p>
        </div>
    </div>
    
</div>

<div class="lg:w-2/4 my-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <form method="post" action="." class="flex">
        <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message..." 
        id="chat-message-input">
        <button class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" 
        id="chat-message-submit">Submit</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{chat.slug}}
<!-- |json_script:"chat_slug"|json_script:"chat_id"  -->
<script>
    console.log("Constantes");
    console.log(document.getElementById('chat_id').textContent)
    console.log(document.getElementById('chat_slug').textContent)
    const chatName= document.getElementById('chat_slug').textContent
    // const chatSlug= JSON.parse(document.getElementById('chat_slug').textContent)
    console.log(chatName);
    console.log("Windows location host");
    console.log(window.location.host);

    const chatSocket = new WebSocket(
        'wss://'
        +'127.0.0.1:8001'
        // + window.location.host
        + '/ws/chat/'
        + chatName
        + '/'
    );
    console.log("Chat scket")
    console.log(chatSocket)
    
    console.log("HOST")
    console.log(window.location)
    chatSocket.onmessage = function(e){
        console.log('onmessage')
    }
    chatSocket.onclose = function(e){
        console.log('onclose')
    }
</script>
{% endblock %}