{% extends 'core/base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
{% endblock %}

{% block title %}Chats | {% endblock %}


{% block content %}

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">

        {% for m in messages %}
        <div class='chat-container darker p-4'> 
            <p class='font-semibold'>{{m.senderName}}</p>
            <p>{{m.content}}</p>
            <span class='time-left'>{{m.time}}</span>
        </div>
        {% endfor %}

    </div>
    
</div>

<div class="lg:w-2/4 my-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <form id="chatForm" action="{% url 'chat:send' %}">
        {% csrf_token %}
        <!-- <input type="text" name="message" class="flex-1 mr-3" placeholder="Your message..." 
        id="message"> -->
        <textarea class="w-full mt-2 px-4 py-2 rounded-xl background-white" placeholder="Your message..." id="message" name="message"></textarea>

        <button class="px-5 py-3 rounded-xl base-button" id="btnSendMessage">Submit</button>
    </form>
</div>

<p name="chat_id" id="chat_id" >{{ chat.id }}</p>
{% endblock %}
