{% extends 'core/base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
{% endblock %}

{% block title %}Chats | {% endblock %}


{% block content %}
<div class="p-4 pb-0 grid-container inline-container">

    <div class="card single-card help_container px-8 mb-0" style="width:100%">
        <div class="flexbox_container">
            <div class="column column-title selected">
                <a href="{% url 'chat:chat' contact_id %}">Chat</a>
            </div>
            <div class="column column-title">
                <a href="{% url 'chat:contacts' %}">Contacts</a>
            </div>
        </div> 
        <!-- Chat -->
        <div class="bg-white rounded-xl">

            <div class="chat-messages space-y-3 fixed-height-container" >
                <div class="scroll-content" id="chat-messages">
                    {% for m in messages %}
                    <div class="message-container {% if m.isOwnerMessage %}own-message{% endif %}"> 
                        <p class='font-semibold'>{{m.senderName}}</p>
                        <p>{{m.content}}</p>
                        <span class='time-left'>{{m.time}}</span>
                    </div>
                    {% endfor %}
                </div>
                

            </div>
            
        </div>

        <div class="rounded-xl mt-4">
            <form id="chatForm" action="{% url 'chat:send' %}">
                {% csrf_token %}
                <div class="message-input">
                    <textarea class="message-textarea px-4 py-2 rounded-xl background-white" style="width:80%" placeholder="Your message..." id="message" name="message"></textarea>
                    <button class="message-button px-5 py-3 rounded-xl base-button" style="width:19%" id="btnSendMessage">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>


<p name="contact_id" style="color:transparent" id="contact_id" >{{ contact_id }}</p>
<p name="chat_id" style="color:transparent" id="chat_id" >{{ chat.id }}</p>
{% endblock %}
