{% extends 'core/base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Log in | {% endblock %}

{% block content %}
<div class="card-container p-10">
    <div class="col-md-6 single-card lg:w-2/3 p-8 mx-auto">
        <div class="row mx-auto">
            <div class="column column-title ">
                <a href="{% url 'authentication:signup' 'beneficiary' %}">Sign up</a>
            </div>
            <div class="column column-title selected">
                <a href="{% url 'authentication:login' %}">Login</a>
            </div>
        </div> 

        <form method="post" action="{% url 'authentication:login' %}" class="mx-auto" style="padding: 0 5%;"  enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <fieldset class="mb-5">
                <div class="custom-wrapper">
                    {{field}}
                    <i class="{{ field.field.icon }} input-icon"></i>
                </div>
                {% if field.errors %}
                    <div class="mt-1 px-4 py-2 rounded-xl bg-red-300 text-white">
                        <p class="error-message">{{ field.errors.0 }}</p>
                    </div>
                {% endif %}
                <span></span>
            </fieldset>
            {% endfor %}
            <input type="submit" value="Login" class = "px-5 py-3 rounded-xl base-button large-button">
            <br />
        </form>
        {% if error_message %}
            <div class="mt-1 px-4 py-2 rounded-xl bg-red-300 text-white">
                <span class='error-message'>
                    {{error_message}}
                </span>
            </div>
        {% endif %}
        <p>Do you not have an account? 
            <a href="{% url 'authentication:signup' 'beneficiary' %}" class="link-text">Click here to register</a>
        </p>
    </div>
</div>
{% endblock %}