{% extends 'core/base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}
{% block title %}Sign up | {% endblock %}

{% block content %}
<div class="card-container p-10">
    <div class="col-md-6 single-card lg:w-2/3 p-8 mx-auto ">
        <div class="row px-8 mx-auto">
            <div class="column column-title selected">
                <a href="{% url 'authentication:signup' %}">Sign up</a>
            </div>
            <div class="column column-title">
                <a href="{% url 'authentication:login' %}">Login</a>
            </div>
        </div> 
        <form method="post" action="{% url 'authentication:signup'%}" class="px-8 mx-auto"  enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
           
            <fieldset class="mb-5">
                <div class="custom-wrapper">
                    {{field}}
                    {% if field.field.widget.input_type == "checkbox" %}
                        <label style="color:gray" for="{{ field.id }}">{{ field.label }}</label>
                    {% else %}
                        <i class="{{ field.field.icon }} input-icon"></i>
                    {% endif %}
                </div>
                {% if field.errors %}
                    <div class="mt-1 px-4 py-2 rounded-xl bg-red-300">
                        <p class="error-message">{{ field.errors.0 }}</p>
                    </div>
                {% endif %}
                <span></span>
            </fieldset>
            {% endfor %}
            <input type="submit" value="Sign up" class = "px-5 py-3 rounded-xl base-button large-button">
            <br />
        </form>
        <p>Do you already have an account? 
            <a href="{% url 'authentication:login' %}" class="link-text">Click here to login</a>
        </p>
    </div>
</div>

{% endblock %}