:root {
    --blue: #3d5a80;
    --light-blue: #98c1d9 ;
    --baby-blue: #e0fbfc;
    --orange: #ee6c4d;
    --dark-blue: #293241;
    --gray: #333333;
}
.grid-container{
    margin: 20px auto;
    display:grid;
    grid-template-columns: auto auto;
    padding: 2px 16px;
    text-align: center;
    justify-content: center;
}
.inline-container{
    grid-template-columns: 85%;
}
.card-container {
    margin: 20px auto;
    padding: 2px 16px;
    text-align: center;
}
  
.card {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    width: 90%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.75);
    margin: 0 30px;
    padding: 2rem;
    text-align: left;
    float:right;
  
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.panel {
    width: 100%;
    padding: 2rem;
    text-align: center;
}
.orange{
    background: rgba(238,108,67,0.65);
}
.single-card {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.75);
    text-align: left;
    width: 100%;
    margin-left: 2px;
  
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.card-left{
    float:left;
}
.card-title{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--gray);
    color: var(--dark-blue);
    font-weight: 600;
    text-align: center;
    margin-top:1rem;
    margin-bottom: 0.5rem;
}
.card-image{
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
}
.wrapper{
    width: 700px;
    margin: 0 auto;
}
   
.col1{
    width: 30%;
    float: left;
    text-align: right;
    padding-right: 1rem;
}

.col2{
    width: 70;
    float: left;
}