* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
 
 .container:after {
     clear: both;
 }
 
 .container > div {
    float: left;
    width: 48%;
    margin: 1%;
 }
 
.container-card{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.75);
    padding: 2rem;
} 
.menu-container{
    justify-content: center; 
    display: flex; 
    width: 100%; 
    margin-left: 2px;
}
 @media all and (max-width: 500px) {
     .container > div {
         float: none;
         width: 100%;
     }
 }