
.input-icon {
    position: absolute;
    left: 1rem;
    color: var(--blue);
  
    /* Vertically center the icon in the input */
    top: calc(50% - 0.3em);
}
  
.custom-wrapper {
    position: relative;
}