.table {
  display: table;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
table {
  background-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  font-weight: 500;
}
th {
    text-align: left;
}
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
img.table_icon{
  max-width: 5rem;
  max-height: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.table_icon {
  padding: 10px;
  flex-grow: 1;
  margin-right: 30px;
}
.vertically-centered{
  vertical-align: middle !important;
}